* {
    margin: 0;
    padding: 0;
    /*font-family: "Adobe Kaiti Std", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;*/
    /*font-family: "microsoft yahei", Arial, sans-serif;*/
    font-family: 'Open Sans light', 'microsoft yahei' ,'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font40{
    font-size: 40px;
}
.font36{
    font-size: 36px;
}
.font30{
    font-size: 30px;
}
.font28{
    font-size: 28px;
}
.font22{
    font-size: 22px;
}
.font20{
    font-size: 20px;
}
.font18{
    font-size: 18px;
}
.font16{
    font-size: 16px;
}
.font14{
    font-size: 14px;
}
.color333{
    color: #333;
}
.color999{
    color: #999;
}

ul li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.navbar-default {
    border: 0;
    box-shadow: 0 2px 1px #e7e7e7;
    background-color: #fff;
    border-radius: 0;
}

.navbar {
    min-height: 61px;
    margin-bottom: 0;
    z-index: 3333333;
}

.navbar-brand {
    float: left;
    height: 61px;
    padding: 10px 25px;
    font-size: 18px;
}

.navbar-nav > li > a {
    line-height: 31px;
}

.navbar-default .navbar-nav .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #608fdb;
    background-color: #fff;
}

nav em {
    display: inline-block;
    vertical-align: middle;
    color: #E5E5E5;
    margin: 20px 6px;
    height: 21px;
    border-left: 1px #E5E5E5 solid;
}

nav .font-down {
    padding-right: 6px;
    font-size: 24px;
    -webkit-transition: all linear .3s;
    transition: all linear .3s;
}
